[submodule "Thirdparty/imgui"]
	path = Thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Thirdparty/crossguid"]
	path = Thirdparty/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "Thirdparty/Remotery"]
	path = Thirdparty/Remotery
	url = https://github.com/Celtoys/Remotery.git
[submodule "Thirdparty/lua"]
	path = Thirdparty/lua
	url = https://github.com/lua/lua.git
[submodule "Thirdparty/yaml-cpp"]
	path = Thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Thirdparty/openal-soft"]
	path = Thirdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Thirdparty/tinyobjloader"]
	path = Thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Thirdparty/libsndfile"]
	path = Thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "Thirdparty/spdlog"]
	path = Thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Thirdparty/glm"]
	path = Thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Thirdparty/bullet3"]
	path = Thirdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Thirdparty/box2d"]
	path = Thirdparty/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Thirdparty/ImGuizmo"]
	path = Thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Thirdparty/tinygltf"]
	path = Thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Thirdparty/nlohmann-json"]
	path = Thirdparty/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "Thirdparty/eigen"]
	path = Thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Thirdparty/taskflow"]
	path = Thirdparty/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "Thirdparty/stb"]
	path = Thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "Thirdparty/entt"]
	path = Thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "Thirdparty/minizip-ng"]
	path = Thirdparty/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "Thirdparty/shaderc"]
	path = Thirdparty/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Thirdparty/gli"]
	path = Thirdparty/gli
	url = https://github.com/g-truc/gli
[submodule "Thirdparty/UDRefl"]
	path = Thirdparty/UDRefl
	url = https://github.com/Ubpa/UDRefl
[submodule "Thirdparty/USRefl"]
	path = Thirdparty/USRefl
	url = https://github.com/Ubpa/USRefl
[submodule "Thirdparty/UGraphviz"]
	path = Thirdparty/UGraphviz
	url = https://github.com/Ubpa/UGraphviz.git
[submodule "Thirdparty/graphviz"]
	path = Thirdparty/graphviz
	url = https://gitlab.com/graphviz/graphviz.git
[submodule "Thirdparty/UTemplate"]
	path = Thirdparty/UTemplate
	url = https://github.com/Ubpa/UTemplate.git
[submodule "Thirdparty/glslang"]
	path = Thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
