[submodule "Thirdparty/imgui"]
	path = Thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Thirdparty/crossguid"]
	path = Thirdparty/crossguid
	url = https://github.com/graeme-hill/crossguid.git
