[submodule "Thirdparty/imgui"]
	path = Thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Thirdparty/crossguid"]
	path = Thirdparty/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "Thirdparty/Remotery"]
	path = Thirdparty/Remotery
	url = https://github.com/Celtoys/Remotery.git
[submodule "Thirdparty/FiberTaskingLib"]
	path = Thirdparty/FiberTaskingLib
	url = https://github.com/RichieSams/FiberTaskingLib.git
[submodule "Thirdparty/glslang"]
	path = Thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Thirdparty/libcopp"]
	path = Thirdparty/libcopp
	url = https://github.com/owt5008137/libcopp.git
[submodule "Thirdparty/lua"]
	path = Thirdparty/lua
	url = https://github.com/lua/lua.git
[submodule "Thirdparty/yaml-cpp"]
	path = Thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Thirdparty/openal-soft"]
	path = Thirdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Thirdparty/tinyobjloader"]
	path = Thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Thirdparty/libsndfile"]
	path = Thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "Thirdparty/spdlog"]
	path = Thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Thirdparty/glm"]
	path = Thirdparty/glm
	url = https://github.com/Groovounet/glm.git
[submodule "Thirdparty/bullet3"]
	path = Thirdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Thirdparty/box2d"]
	path = Thirdparty/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Thirdparty/ImGuizmo"]
	path = Thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
